__pycache__/
*.pyc
build/
.venv/
results/
*.db
.DS_Store
.env
*.egg-info/
caveat/runs/
node_modules/
caveat/envs/*/server/_build/
caveat/envs/*/server/_catalogs/
caveat/envs/*/server/*.db
caveat/envs/*/server/frontend/**/*.map
caveat/envs/caveat_food/server/frontend/*
!caveat/envs/caveat_food/server/frontend/out
caveat/envs/caveat_sport/server/frontend/*
!caveat/envs/caveat_sport/server/frontend/build
caveat/envs/caveat_services/server/frontend/*
!caveat/envs/caveat_services/server/frontend/dist
